
*:focus{outline:none;}
*{box-sizing:border-box;}

html{overflow-x:hidden;}

body{
    font:normal 12px/18px Tahoma,Arial,sans-serif;
    margin:0;
    width:100%;
    background:#F4F9FC;
    color:#333;
}

a{
    text-decoration:none;
    color:#333;
    transition:color 300ms;
}

a:hover{color:#00CB84;}

h1{
    margin:0;
    font-size:24px;
}

.flex{
    display:flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding:0 15px;
    width:100%;
    align-items: center;
}

.w20{width: 20%;}
.w40{width:40%;}
.w60{width:60%;}
.w80{width: 80%;}
.w100{width:100%;}

.al{text-align:left;}
.ac{text-align:center;}

.p20{padding:20%;}
.ptb20{padding: 20px 0;}
.ptb30{padding: 30px 0;}

.row{margin:0 0 15px;}

#content{
    color:#333;
    font-size:16px;
}

#spinner {
    background: #919fa640 url('../images/loader.gif') no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.inside-content{
    width:100%;
}

.panel{
    align-items: center;
}

.panel input{
    background:#F6F9FE;
    height:40px;
    border:1px solid #D4D9DF;
    border-radius:6px;
    padding:0 15px;
}

.table{
    overflow-x:auto;
}

.table table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    font-size:14px;
}

.table th{
    padding:10px;
    text-align:left;
}

.table td{
    padding:8px 10px;
    border-top:1px solid #eaeaea;
}

.table tr:nth-child(odd) td{
    background:#f6f6f6;
}

.table .id{
    width:5%;
    text-align:center;
}

.table .actions{
    width:10%;
    text-align:center;
}

.table .actions a{
    padding:0 5px;
}

.empty{
    text-align:center;
    padding:30px;
    font-size:18px;
    color:#777;
}

.popup-back{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.2);
    z-index:9;
}

.popup{
    
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    
    max-width:500px;
    width:100%;
    background:#fff;
    z-index:10;
    border-radius:6px;
    
}

.head-popup{
    background:#e4e8ec;
}

.head-title{
    font-weight:bold;
}

.popup-inner{
    padding:25px;
}

.botBtns{
    margin-top:20px;
}

.botBtns a{
    margin-right:10px;
}




.header{
    background-color:#434242;
}

.header .logo{
    padding:5px 0;
    display: flex;        
    justify-content: flex-end;
}

.header h1{
    color:#fff;
    font-size:18px;
}



.inner-form input[type=email],
.inner-form input[type=password]{
    background:#F6F9FE;
    height:48px;
    width:100%;
    border:1px solid #D4D9DF;
    border-radius:6px;
    padding:0 15px;
}

.inner-form input:focus{
    border-color:rgba(82,168,236,.8);
    box-shadow:0 0 8px rgba(82,168,236,.6);
}

.inner-form label{
    display:block;
    font-size:16px;
    font-weight:700;
    margin-bottom:8px;
    text-align: right;
}



.btn{
    height:48px;
    width:100%;
    background:#00CB84;
    box-shadow:0 2px 4px rgba(0,0,0,.25);
    text-align:center;
    color:#fff;
    display:block;
    padding:12px;
    border-radius:6px;
    transition:.3s;
    font-size:18px;
    cursor:pointer;
    border:none;
}

.btn:hover{background:#1f888e;}
.btn:active{background:#1f4b8e;}

.btnS{
    height:24px;
    width:auto;
    background:#00CB84;
    box-shadow:0 2px 4px rgba(0,0,0,.25);
    text-align:center;
    color:#fff;
    padding:12px;
    border-radius:6px;
    transition:.3s;
    font-size:18px;
    cursor:pointer;
    border:none;
}

.btnS:hover{background:#1f888e;}
.btnS:active{background:#1f4b8e;}


.alertMsg,
.successMsg{
    font-size:inherit;
    padding:20px;
    position:fixed;
    bottom:5%;
    left:2%;
    border-radius:10px;
    z-index:999;
    height:auto;
    display:none;
}

.alertMsg{
    color:red;
    background-color:rgba(255,228,228,.75);
    box-shadow:0 0 10px rgba(205,30,11,.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    color:green;
    background-color:rgba(218,249,223,.75);
    box-shadow:0 0 10px rgba(11,205,61,.5);
    animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft{
    0%{opacity:0;margin-left:-100%}
    25%{opacity:.2;margin-left:-50%}
    50%{opacity:.6;margin-left:-15%}
    75%{opacity:.9;margin-left:-5%}
    100%{opacity:1;margin-left:0}
}




#right-area{
    order: 1;
    width:60%;
}

#right-area img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#left-area{
    width:40%;
    order: 2;
}


@media(max-width: 480px) {
    #right-area{display:none;}
    #left-area{width:100%;}
    
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }

    body{
        min-width: 320px;
    }

    .header{text-align:center;}

    .inner-form input,
    .btn {
        width: 100%;
    }
}

@media(min-width: 320px) {
    
}

